@import '../colors'
@import '../variables'
@import '../neon'

.box
    width: 100%
    height: auto
    padding: 1.5em
    border-radius: square-radius
    border-style: solid
    border-width: 2px
    transition: all .15s ease-in-out

    &--pink
        border-color: pink
        neon lightPink
    
    &--navy
        border-color: navy
        neon lightNavy

    &--yellow
        border-color: yellow
        neon lightYellow

    &--white
        border-color: biege
        neon white