@import "../colors"
@import '../neon'

.wrapper
    padding: 5rem
    background-color: darkPurple
    display: flex
    justify-content: center

    label, span, p, h1, h2, h3, h4, h5, h6
        color: biege

.content
    text-align: center
    display: flex
    flex-direction: column

.input
    padding-bottom: .5em
    &:first-child
        padding-top: .5em

.title
    text-align: center
    font-size: 2rem
    text-neon pink