@import '../colors'
@import '../variables'
@import '../neon'

.slot
	display: inline-block
	border-width: 1px
	border-style: solid
	border-color: biege
	border-top: none
	border-bottom: none
	width: 75px
	height: 75px

	&__piece--pink svg
		color: pink
		filter: drop-shadow(0 0 3px lightPink)

	&__piece--navy svg
		color: navy
		filter: drop-shadow(0 0 3px lightNavy)
	
	&__piece--yellow svg
		color: yellow
		filter drop-shadow(0 0 3px lightYellow)

	&__background
		width: auto
		height: 100%
		padding: none
		margin: none
		&--pink
			gradient-neon pinkComplementary darkPink pink 
		&--yellow
			gradient-neon yellowComplementary darkYellow yellow
		&--navy
			gradient-neon navyComplementary darkNavy navy
		&--red
			gradient-neon #590f0f #ce2626 #ff3737
			

