@import '../colors'
@import '../neon'

@require '../board/*'
@require '../layout/*'

.game
    max-width: 95%
    margin-left: auto
    margin-right: auto
    color: beige

    &__title
        text-align: center
        font-size: 2.5rem
        margin-bottom: 1em
        text-neon beige 

    &__content
        display: flex
        justify-content: space-around
        align-items: baseline