@import '../colors'
@import '../neon'

.main
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

.form
    width: 300px
    padding: 1.5em
    border: 2px solid lightPink
    border-radius: 5px
    background-color: darkPurple
    transform: translateY(-50%)
    neon pink