navy = #08fdf8;
lightNavy = #72ffff;
yellow = #fdf808;
lightYellow = #ffff5a;
pink = #f808fd;
darkPink = #ff63ff;

/* background colors */
taupeDark = #0e0915;
darkPurple = #110927;
lightPurple = #48116d;
biege = #f9fef1;

