/* general colors */
taupeDark = #0e0915;
darkPurple = #110927;
biege = #f9fef1;

/* navy neon theme */
darkNavy = #06f0ec;
navy = #35fdfa;
lightNavy = #89fcfc;
navyComplementary = #143d63;

/* yellow neon theme */
darkYellow = #eeea00;
yellow = #fffc3f;
lightYellow = #ffff90;
yellowComplementary = #685f10;

/* pink neon theme */
darkPink = #f808fd;
pink = #ff63ff;
lightPink = #ffb6c1;
pinkComplementary = #48116d;


