@import './colors'

neon(n, spread = 15px, depth = 2px)
    box-shadow: 
        0 0 spread depth n

text-neon(n, wSpread = 10px, nSpread = 15px)
    text-shadow: 
        0 0 wSpread #fff, 0 0 nSpread n

