@import '../colors'
@import '../neon'

.default
    padding: .75em .25em
    background-color: lightPurple
    color: biege
    cursor: pointer
    border: 2px solid lightPink
    neon pink

.test
    text-neon pink
