@import "../colors"
@import '../neon'

.form
    color: biege
    text-align: center
    display: flex
    flex-direction: column

    &__input
        margin-bottom: .5em

    &__input:first-child
        margin-top: .5em

    &__radios
        display: flex
        justify-content: center
        padding-top: 5px
        padding-bottom: 5px

    &__title
        text-align: center
        font-size: 2rem

    &__subtitle
        text-align: center
        font-size: 1.25rem