@import "../colors"
@import '../neon'

.form
    color: biege
    text-align: center
    display: flex
    flex-direction: column

    &__input
        margin-bottom: .5em

    .form__input:first-child
        margin-top: .5em
    
    &__title
        text-align: center
        font-size: 2rem