@import "../colors"
@import '../neon'

.form
    color: biege
    text-align: center
    display: flex
    flex-direction: column
    font-size: 1rem

    &__input
        margin-bottom: .5em

    &__input:first-child
        margin-top: .5em

    &__radios
        display: flex
        justify-content: center
        padding-top: 5px
        padding-bottom: 5px

    &__title
        text-align: center
        font-size: 3em
        margin-bottom: .25em
        text-neon biege 5px 10px


        &--pink
            text-neon lightPink 5px 10px

        &--navy
            text-neon lightNavy 5px 10px

        &--yellow
            text-neon lightYellow 5px 10px

    &__subtitle
        text-align: center
        font-size: 1.25rem

    &__error
        text-neon: red 5px 10px