@import '../colors'
@import '../neon'

.radio
    display: flex
    align-items: center
    margin-right: .25em
    cursor: pointer
    
    & .radio__button
        position: relative
        margin-right: .25em
        width: 1.25em
        height: 1.25em
        border-width: 2px
        border-style: solid
        border-radius: 50%
        padding: 3px
        display: inline-block
        transition: all .15s ease-in-out

        & > div
            width: auto
            height: 100%
            border-radius: 50%
            opacity: 0
            transition: all .15s ease-in-out

        &--pink
            border-color: darkPink
            & > div
                neon pink 5px 3px
                background-color: lightPink

        &--navy
            border-color: darkNavy
            & > div
                neon navy 5px 3px
                background-color: lightNavy
        
        &--yellow
            border-color: darkYellow
            & > div
                neon yellow 5px 3px
                background-color: lightYellow
        &--white
            border-color: biege
            & > div
                neon white 5px 3px
                background-color: biege

    & .radio__text
        text-align: left
        transition: all .15s ease-in-out

        &--pink
            text-neon: darkPink 6px 4px

        &--navy
            text-neon: darkNavy 6px 4px

        &--yellow
            text-neon: darkYellow 6px 4px
            
        &--white
            text-neon: biege 6px 4px

    & > input[type="radio"]
        width: 0
        visibility: hidden

        &:checked + .radio__button
            &.radio__button--pink
                border-color: lightPink

            &.radio__button--navy
                border-color: lightNavy

            &.radio__button--yellow
                border-color: lightYellow

            &.radio__button--white
                border-color: white

            & > div
                opacity: 1
        
        &:checked + .radio__text
            &.radio__text--pink
                text-neon: lightPink 4px 6px

            &.radio__text--navy
                text-neon: lightNavy 4px 6px

            &.radio__text--yellow
                text-neon: lightYellow 4px 6px

            &.radio__text--white
                text-neon: lightYellow 4px 6px

