@import 'input.module'
@import '../colors'
@import '../neon'

.main
    @extend .default
    width: 100%
    background-color: lightPurple
    color: beige
    border: 2px solid lightPink
    padding: .5em .3em .5em .3em
    neon pink 10px 2px
    text-neon pink
    &::placeholder
        text-neon pink
        opacity 1
        
    